 body::before {
    content: "Project in Temporary Mode  (C4codex)";
    white-space: pre;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 4vw; /* responsive font size */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 9999;
     text-align: center;
}

 
